.custom-navbar {
    margin: 0 auto;
    padding: 0 20px !important; 
    height: 70px;
}

/* CSS Grid를 사용하여 3개의 영역으로 분할 */
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* 왼쪽 섹션 */
.leftSection {
    flex: 1;
    text-align: left;
}

/* 가운데 섹션 */
.centerSection {
    text-align: center;
}

/* 오른쪽 섹션 */
.rightSection {
    flex: 1;
    text-align: right;
}

/* 아바타 이미지 */
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

/* 네비게이션 링크 스타일 */
.nav-link {
    display: inline-block; 
    position: relative;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: #f7e600;
    transition: width 0.3s ease-out, left 0.3s ease-out;
    transform: translateX(-50%);
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
    transform: translateX(0);
}

.transparent-button {
    background-color: transparent !important;
}

.transparent-button .icon {
    color: black;
}