.management-sidebar {
    width: 250px;
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid #e6e6e6; 
    border-radius: 16px; 
    margin: 20px; /* 사이드바와 페이지 사이의 여백 */
}

.management-sidebar-header {
    padding: 20px;
    color: #333;
    background-color: #f7f7f7; 
    width: 100%;
    border-bottom: 1px solid #e6e6e6; 
    border-top-left-radius: 16px; 
    border-top-right-radius: 16px; 
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
}

.management-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.management-sidebar ul li a {
    color: #333; /* 다크 그레이 텍스트 색상 */
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    transition: background-color 0.3s ease, color 0.3s ease; /* 부드러운 색상 전환 */
    margin: 5px 0; 
    border-radius: 8px; /* 둥근 모서리 */
    font-weight: 550;
    font-size: 15px;
}
