HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/



### VS Code ###
.vscode/

# Ignore specific files
src/main/resources/application-dev.properties
gitmessage.txt