HELP.md
.gradle
*.class
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/



### VS Code ###
.vscode/

# Ignore specific files
application-dev.properties
gitmessage.txt


# frontend에서 생성되는 폴더 및 파일들이랑 무관하므로 gitignore에 추가
node_modules/
/package-lock.json
/package.json