/* form-container 관련 css */
.form-container {
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 300px 0 300px;
}

/* 카테고리 dropdown 관련 css */
.dropdown {
    width: 230px !important;
    font-size: 16px;
    border-radius: 4px;
    color: black;
    margin: 0 0 10px 0;
}

/* title 관련 css */
.title :global(.form-control) {
    height: 80px;
    font-size: 35px;
    border-right: none;
    border-left: none;
    border-block-start: none;
    padding: 0;
    margin-bottom: 50px;
    border-radius: 0;
}

/* quill-toolbar 관련 css */
.quill-toolbar-container {
    margin: 0px 0 50px 0;
    min-width: 500px;
}

/* quill-editor 관련 css */
.quill-editor {
    height: 550px;
    min-height: 550px;
}

.quill-editor :global(.ql-container.ql-snow) {
    border: none !important;
}

.quill-editor :global(.ql-editor) {
    padding: 10px 0 0 0;
}

.quill-editor :global(.ql-editor p:not( 
        :has(.ql-size-small),
        :has(.ql-size-large),
        :has(.ql-size-huge)
    )) {
    font-size: 19px !important;
    margin-bottom: 0.9em;
}

.quill-editor :global(.ql-editor .ql-size-small) {
    font-size: 15px !important;
    margin-bottom: 0.8em !important;
    display: block;

}

.quill-editor :global(.ql-editor .ql-size-large) {
    font-size: 23px !important;
    margin-bottom: 1em !important;
    display: block;

}

.quill-editor :global(.ql-editor .ql-size-huge) {
    font-size: 27px !important;
    margin-bottom: 1.1em !important;
    display: block;
}

.quill-editor :global(.ql-editor h2) {
    font-size: 31px !important;
    margin-bottom: 1.2em !important;

}

.quill-editor :global(.ql-editor h1) {
    font-size: 35px !important;
    margin-bottom: 1.3em !important;

}

/* 게시글 작성 버튼 관련 css */
.button-group {
    margin: 30px 0 30px 0;
    text-align: center;
}