:global(.ui.comments) {
    max-width: none;
}

:global(.ui.comments:last-child ) {
    margin-bottom: 100px
}

.commentForm {
    margin-top: 2rem;
}


.commentForm :global(.ui.blue.button ) {
    margin-top: 10px;
}

.commentForm :global(.field textarea) {
    min-height: 200px !important;
}

.avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.replyForm {
    margin-top: 1rem;
    margin-left: 3rem;
}

.replyGroup {
    margin-left: 2rem;
}

.chatWrapper {
    position: relative;
    width: 100%; 
    display: flex;
    /* justify-content: flex-end;  */
    margin-bottom: 50px;
}
